{"name":"SmartBit","slug":"smartbit","privacy":"public","platforms":["ios","android","web"],"version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"androidStatusBar":{"barStyle":"dark-content","backgroundColor":"#FFFFFF"},"ios":{"supportsTablet":true,"bundleIdentifier":"br.com.qax.smartbit"},"android":{"package":"br.com.qax.smartbit"},"extra":{"eas":{"projectId":"a1539b19-ab07-4c28-9203-ab975d3ef6f5"}},"sdkVersion":"48.0.0"}